<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_vJC17clHAFVtV9FNXZj8BASCl6zPr_A</string>
	<key>GCM_SENDER_ID</key>
	<string>118047928754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tech4mm.smtphonesh.smtPhoneshDev</string>
	<key>PROJECT_ID</key>
	<string>smt-phonesh-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>smt-phonesh-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118047928754:ios:655b1ed1cc6811c54e74ab</string>
</dict>
</plist>